.glitched-avatar {
  position: relative;
  border-radius: 50%;
  width: var(--max-width);
  height: var(--max-width);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--image);
}
.glitched-avatar::before, .glitched-avatar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  width: var(--max-width);
  height: var(--max-width);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.glitched-avatar::before {
  $animation-length: var(--animation-length);
  left: -6px;
  animation: glitch-effect 2s $animation-length linear alternate-reverse;
  background-image: var(--image);
  filter: var(--filter);
}
.glitched-avatar::after {
  $animation-length: var(--animation-length);
  left: 6px;
  animation: glitch-effect 3s $animation-length linear alternate-reverse;
  background-image: var(--image);
  filter: var(--filter);
}

@keyframes glitch-effect {
  0% {
    clip: rect(299px, 400px, 56px, 0);
  }
  5.8823529412% {
    clip: rect(126px, 400px, 204px, 0);
  }
  11.7647058824% {
    clip: rect(74px, 400px, 62px, 0);
  }
  17.6470588235% {
    clip: rect(123px, 400px, 252px, 0);
  }
  23.5294117647% {
    clip: rect(280px, 400px, 225px, 0);
  }
  29.4117647059% {
    clip: rect(25px, 400px, 202px, 0);
  }
  35.2941176471% {
    clip: rect(164px, 400px, 60px, 0);
  }
  41.1764705882% {
    clip: rect(110px, 400px, 214px, 0);
  }
  47.0588235294% {
    clip: rect(88px, 400px, 104px, 0);
  }
  52.9411764706% {
    clip: rect(279px, 400px, 102px, 0);
  }
  58.8235294118% {
    clip: rect(64px, 400px, 146px, 0);
  }
  64.7058823529% {
    clip: rect(47px, 400px, 12px, 0);
  }
  70.5882352941% {
    clip: rect(296px, 400px, 166px, 0);
  }
  76.4705882353% {
    clip: rect(202px, 400px, 264px, 0);
  }
  82.3529411765% {
    clip: rect(183px, 400px, 248px, 0);
  }
  88.2352941176% {
    clip: rect(27px, 400px, 36px, 0);
  }
  94.1176470588% {
    clip: rect(266px, 400px, 195px, 0);
  }
  100% {
    clip: rect(126px, 400px, 198px, 0);
  }
}